<!DOCTYPE html>
<html lang="en" ng-app="popup">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Cryistals</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/style.min.css">
</head>
<body class="cryistals-body"  ng-controller="MainCtrl" >
<div >
	

<div class="cryistals-wrapper">
<!-- start header section -->
	<div class="cryistals-header">
	<div class="cryistals-container">
		<div class="cryistals-header__top">
			<a href="" class="cryistals-back">
				<img src="img/back.svg" alt=""> My Gems
			</a>

			<div class="cryistals-header__menu">
				<div class="cryistals-header__menu-btn">
					<img src="img/menu-btn.svg" alt="">
				</div>
				<div class="cryistals-header__menu-content">
					<a href="" class="cryistals-header__menu-item">First Item</a>
					<a href="" class="cryistals-header__menu-item">Second Item</a>
					<a href="" class="cryistals-header__menu-item">Third Item</a>
					<a href="" class="cryistals-header__menu-item">Four Item</a>
				</div>
			</div>
</div>
			<div class="cryistals-header__contetn">
				<div class="cryistals-header__contetn-left">
					<a href="profile.html" class="cryistals-header__user-info">
						<span class="cryistals__title">
						Alan Mithel
					</span>

					<span class="cryistals-header__email">
						marvin@gmail.com
					</span>
					</a>

					<a href="transaction-history.html" class="cryistals-amount-wrapper">
						<img src="img/cryistal.svg" alt=""><span class="cryistals-amount">100 000 000</span>
					</a>
					
				</div>

				<div class="cryistals-header__contetn-photo">
					<a href="profile.html" class="cryistals-header__photo">
						<img src="img/photo1.png" alt="" class="cryistals-header__photo-img">
					</a>
				</div>

			</div>


			
		
	</div>
</div>
<!-- end header section -->

<div class="cryistals-fixed-page-content">
	

<!-- start cristals block -->
<div class="cryistals-container">
<a href="leaderboard.html" class="cryistals-block">
	
	<div class="cryistals-win-content">
		<div class="cryistals-win__text">
			<span class="cryistals__title gradient-text">
						Win $10
					</span>
					<div class="cryistals-text">
						Today’s highest gems 
balance wins!
					</div>
		</div>
	</div>
	
</a>
</div>
<!-- end cristals block -->


<!-- start cristals block -->
<div class="cryistals-container">
<a href="raffle-lottery.html" class="cryistals-block">
	
	<div class="cryistals-win-content cryistals-win-content--raffle">
		<div class="cryistals-win__text">
			<span class="cryistals__title gradient-text">
						Raffle
					</span>
					<div class="cryistals-text">
						Win $100 each week (winner guaranteed)!
					</div>
		</div>

		
	</div>
	
</a>
</div>


<!-- end cristals block -->

<!-- start cristals block -->
<div class="cryistals-container">
<div class="cryistals-block cryistals-block--slider">
	
	<div class="cryistals-block__header cryistals-block__header--slider">
		<div class="cryistals__text cryistals__block-title">
			Earn more gems
		</div>

		<a href="" class="cryistals-more">
			<div class="cryistals-more__text">
				More
			</div>
			
		</a>
		
	</div>


<div class="cryistals-slider-wrapper">
	<div class="cryistals-slider">
		<div class="cryistals-slide-item">
			<div class="cryistals-slider__card cryistals-slider__card--purple">
				<div class="cryistals-slider__card-content">
					<div class="cryistal-slider__title">
						Invite Friends +
					</div>

					<div class="cryistal-slider__text">
						Over 1,000,000 gems
					</div>

					
				</div>
			</div>
		</div>
		<div class="cryistals-slide-item">
			<div class="cryistals-slider__card cryistals-slider__card--pink">
				<div class="cryistals-slider__card-content">
					<div class="cryistal-slider__title">
						Special of
					</div>

					<div class="cryistal-slider__text">
						Over 1,000,000 
					</div>

					
				</div>


			</div>
		</div>

	</div>
</div>


	
</div>


</div>
<!-- end cristals block -->

<!-- start cristals block -->
<div class="cryistals-container">
<div class="cryistals-block">
	
	<div class="cryistals-block__header">
		<a href="play-earn.html" class="cryistals__text cryistals__block-title">
			Play & Earn
		</a>

		<a href="play-earn.html" class="cryistals-more">
			<div class="cryistals-more__text">
				More
			</div>
			
			
		</a>
		
	</div>


	<div class="cryistals-play-earn-items">
		<a href="" class="openPaddingLink cryistals-play-earn-item" ng-click="open()">
			<span class="cryistals-play-earn__img">
				<img src="img/img1.jpg" alt="" class="cryistals-play-earn__icon">
			</span>

			<span class="cryistals-play-earn__title">
				4 pics 1 word
			</span>
			
		</a>
		<a href="" class="openPaddingLink cryistals-play-earn-item" ng-click="open()">
			<span class="cryistals-play-earn__img">
				<img src="img/img2.jpg" alt="" class="cryistals-play-earn__icon">
			</span>

			<span class="cryistals-play-earn__title">
				2 photos 1 Word
			</span>
			
		</a>
		<a href="" class="openPaddingLink cryistals-play-earn-item" ng-click="open()">
			<span class="cryistals-play-earn__img">
				<img src="img/img3.jpg" alt="" class="cryistals-play-earn__icon">
			</span>

			<span class="cryistals-play-earn__title">
				Guess the you
			</span>
			
		</a>
	</div>





	
</div>


</div>
<!-- end cristals block -->

</div>





 <div class="box" id="box1"><img src="img/expand.svg" alt=""></div>

</div>
			

</div>


<!-- Template -->
    <script type="text/ng-template" id="firstDialogId">
    	<div class="popup-content">
    		<div class="popup-game">
<div class="btn-clipboard btn-clipboard--popup" data-clipboard-text="https//somelink.html">
 <img src="img/share.svg" alt="" class="share-btn">

 <div class="cipboard-succ" id="cipboard-succ">
 	Game link
copied!
 </div>
</div>
    		<img src="img/img3.jpg" alt="" class="popup-img">
    	<div class="popup-title">
    		Guess the Youtuber
    	</div>
    	<a href="" class="popup-button">
    		Play now!

    	</a>
    		</div>
    		
    	</div>
    	
       
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script>window.angular || document.write('<script src="../bower_components/angular/angular.min.js">\x3C/script>')</script>
    <script src="js/ngDialog.js"></script>

    <!-- App -->
    <script>
        var app = angular.module('popup', ['ngDialog']);

        app.config(['ngDialogProvider', function (ngDialogProvider) {
            ngDialogProvider.setDefaults({
                className: 'ngdialog-theme-default',
            });
        }]);

        app.controller('MainCtrl', function ($scope, $rootScope, ngDialog, $timeout) {

            $scope.open = function () {
                ngDialog.open({ template: 'firstDialogId' });
            };

          
        });
    </script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>






	<script src="js/libs.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>