@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.cryistals-wrapper
		max-width: 100%
	h1.desktop.ng-binding
		margin-top: 20vw !important
	.download-links__wrapper
	.download-link__item 
		margin-top: 10vw !important
	header.ng-scope
		padding-bottom: 0 !important
	.download-links__wrapper .download-link__item
		margin-bottom: 0 !important
		padding-bottom: 37vw !important
	.header-content h1.mobile
		padding-left: 15px !important
	.leaderboard__item--user-position
		width: 100%
	.cryistals-header
		width: 100%
	.quiz-footer
		width: 100%
	.quiz-popup
		max-width: 100%
	.quiz-popup
		min-width: 100vw
	.ngdialog.ngdialog-theme-default.ngdialog--quiz .ngdialog-content
		width: 100% 
		max-width: 100%	
	
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	h1.desktop.ng-binding
		margin-top: 40px !important
	header.ng-scope
		padding-left: 15px !important 
		padding-bottom: 0vw !important

@media only screen and (max-width : 690px)
	/**/
	
	header.ng-scope
		background-size: 100% !important

@media only screen and (max-width : 600px)
	/**/
	header.ng-scope
		padding-left: 0px !important 
		padding-bottom: 0vw !important
	.download-links__wrapper .download-link__item
		padding-bottom: 20vw !important
	.burger-menu
		margin-left: 15px



/* Extra Small Devices, Phones */
@media only screen and (max-width : 490px)
	/**/
	.lottery-item
		max-width: 328px
		height: 150px
	.lottery-iten__name
		font-size: 20px 
		margin-bottom: 5px
	.lottery-item__text
		margin-bottom: 5px
	.lottery-item__timer
		font-size: 24px
	.free-games__content .cryistal-slider__title
		font-size: 4.5vw
		margin-bottom: 0
	.free-games__content .cryistal-slider__text
		font-size: 3.5vw
	.free-games__content
		.cryistals-slider__card 
			min-height: 24.444vw
			box-sizing: border-box
			margin-top: 4.444vw

	.free-games__itams-wrapper
		.cryistals-slider__card
    		padding: 3.333vw
    		width: 48.5%
    


/* Extra Small Devices, Phones */
@media only screen and (max-width : 448px)
	/**/
	.header-content h1.mobile
		padding-left: 0px !important
		margin-top: 10vw !important
		margin-bottom: 5vw !important
		font-size: 10vw !important
		max-width: 94vw !important
	
	.download-links__wrapper .download-link__item
		padding-bottom: 0vw !important
	.openlottery-text.openlottery-tickets-namber 
		font-size: 13px
/* Custom, iPhone Retina */
@media only screen and (max-width : 365px)
	/**/
	.cryistals-block--info .cryistals-win__text .cryistals__title
		font-size: 22px
	.illustration
		max-width: 135px
	.cryistals-win-content .cryistals-text
		font-size: 14px
	.transactions-history__amount-wrapper
		min-width: auto
	.transactions-history__amount
		font-size: 14px


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (max-width: 355px)
	/**/
	.lottery-item
		padding: 0 10px
		height: 140px
	.openlottery-text.openlottery-tickets-namber 
		font-size: 12px


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/





